*{
    margin: 0;
    padding: 0;

}
.content{
    width: 100%;
    height: 100vh;
}
.content ul li{
    color:white;
    font-size: 3rem;
}


/* MENU OPEN */
.menuOpen{
    display: block;
    background-image: url("menu-abrir.svg");
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-left: 5px; */
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: 15px center;
}



/* MENU FECHAR */
.menuFechar{
    display: block;
    background-image: url("menu-fechar.svg");
    background-repeat: no-repeat;
    text-indent: -9999px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-position: 15px center;
    background-color: gray;
}

/* MENU */
.content .hamburger  li{
    padding: 10px;
    color:black;
    border-bottom: 2px solid gray;
}

/* ESCONDER MENU */
#menu{
    position: absolute;
    width: 100%;
    left:0px;
    top:0;
    transform: translateX(-100%);
    transition: transform 200ms linear;
}

/* aparecer menu novamente */
.menuAbrir{
    transform: translateX(0);
    
}