*{
    margin: 0;
    padding: 0;

}
.content{
    background:red;
    width: 100%;
    height: 100vh;
}
.content ul li{
    color:white;
    font-size: 3rem;
}


/* MENU OPEN */
.menuOpen{
   
    display: block;
    background-image: url("menu-abrir.svg");
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-left: 5px; */
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-position: 15px center;
}



/* MENU FECHAR */
.menuFechar{
    display: block;
    background-image: url("menu-fechar.svg");
    background-repeat: no-repeat;
    text-indent: -9999px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-position: 15px center;
    background-color: gray;
}